[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
flake8 = "*"
pytest = "*"

[packages]
requests = "*"
beautifulsoup4 = "*"
xlsxwriter = "*"
selenium = "*"
lxml = "*"
aiohttp = "*"
tenacity = "*"
fake-useragent = "*"
pyyaml = "*"
colorful = "*"

[requires]
python_version = "3.7"
